<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readyidu.mapper.ChannelSourceMapper" >
  <sql id="Base_Column_List">
    id,parentid,source,sort,is_delete as isDelete
  </sql>
  <insert id="importData" parameterType="com.readyidu.model.ChannelSource">
    insert into t_channel_source
    (parentid
    ,source
    ,create_time
    ,modifty_time
    ,sort)
    values(#{parentid},#{source},now(),now(),#{sort})
  </insert>
  <update id="modifySource" parameterType="com.readyidu.model.ChannelSource">
    update t_channel_source
    set source = #{source}
    where parentid = #{parentid} and id = #{id}
  </update>
  <select id="selectSourceByParentId" parameterType="java.lang.Integer" resultType="com.readyidu.model.ChannelSource">
    select
    <include refid="Base_Column_List"/>
    from
    t_channel_source
    where parentid=#{id}
    order by sort
  </select>
  <select id="countSourceByParentId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    count(source)
    from
    t_channel_source
    where parentid=#{id}
  </select>
  <select id="selectDeathSource" resultType="com.readyidu.model.CheckableChannel">
    select
    t1.id as deathSourceId,
    t2.channel as channelName,
    t1.source as deathSource
    from
    t_channel_source t1
    left join
    t_channel t2
    on t1.parentid=t2.id
    where t1.is_delete =2
  </select>
  <delete id="delectSourceByid" parameterType="java.lang.Integer">
    update  t_channel_source set is_delete=1,modifty_time=now() where id=#{id}
  </delete>
  <update id="updateSourceDeleteFlag" >
    update  t_channel_source set is_delete=0,modifty_time=now() where parentid = #{parentId} and id = #{sourceId}
  </update>
  <delete id="reductionSourceByid" parameterType="java.lang.Integer">
    update  t_channel_source set is_delete=0,modifty_time=now() where id=#{id} and is_delete=2
  </delete>
  <update id="updateIsDelete" parameterType="java.lang.String">
    update t_channel_source set is_delete=2,modifty_time=now() where source=#{source} and is_delete != 1
  </update>
  <update id="updateSort" parameterType="com.readyidu.model.ChannelSource">
    update t_channel_source set sort = #{sort} where source = #{source}
  </update>
  <select id="getDeathBySource" parameterType="java.lang.String" resultType="com.readyidu.model.ChannelSource">
    select
    <include refid="Base_Column_List"/>
    from t_channel_source
    where source=#{source} and is_delete !=0
  </select>
  <select id="selectSourceById" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
    source
    from t_channel_source
    where id = #{id}
  </select>
</mapper>