<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readyidu.mapper.ChannelMapper">
    <resultMap id="BaseResultMap" type="com.readyidu.model.Channel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
        <result column="typeid" property="typeid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, channel, source, typeid
    </sql>
    <sql id="Second_Column_List">
        t1.id as id
        ,t1.channel as channel
        ,t1.typeid as typeid
        ,t2.source as source
    </sql>
    <sql id="third_Column_List">
        t1.id as id
        ,t1.channel as channel
        ,t1.typeid as typeid
        ,t1.playType as playType
        ,t2.sourceid as sourceid
    </sql>

    <sql id="app_Column_List">
        t1.id as id
        ,t1.channel as channel
        ,t1.appTypeId as typeid
        ,t2.source as source
    </sql>

    <!--<select id="selectAll" resultType="com.readyidu.model.Channel" >-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from t_channel order by id-->
    <!--</select>-->
    <resultMap id="channelInfo" type="com.readyidu.model.Channel">
        <id property = "id" column="id"/>
        <result property="channel" column="channel"/>
        <result property="typeid" column="typeid"/>
        <collection property="sources" ofType="com.readyidu.model.ChannelSource">
            <result property="source"  column="source" />
            <result property="resolve" column="resolve" />
            <result property="responseTime" column="responseTime" />
            <result column="isSelf" property="isSelf"/>
        </collection>
    </resultMap>
    <resultMap id="channelInfoNew" type="com.readyidu.model.Channel">
        <id property = "id" column="id"/>
        <result property="channel" column="channel"/>
        <result property="typeid" column="typeid"/>
        <result property="playType" column="playType"/>
        <collection property="sources" ofType="com.readyidu.model.ChannelSource">
            <result property="sourceId"  column="sourceId" />
            <result property="resolve" column="resolve" />
            <result property="responseTime" column="responseTime" />
            <result column="isSelf" property="isSelf"/>
        </collection>
    </resultMap>
    <resultMap id="newChannel" type="com.readyidu.model.NewChannel">
        <id property = "i" column="i"/>
        <result property="c" column="c"/>
        <result property="t" column="t"/>
        <result property="g" column="g"/>
        <collection property="o" ofType="com.readyidu.model.NewChannelSource">
            <result property="i"  column="s" />
            <result property="r" column="r" />
            <result property="m" column="m" />
            <result column="f" property="f"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultType="com.readyidu.model.Channel">
        select
        <include refid="Second_Column_List"></include>
        from t_channel t1
        left join
        (select
        parentid
        ,group_concat(source order by sort) as source
        from t_channel_source
        where is_delete != 1
        group by parentid
        ) t2
        on t1.id=t2.parentid
        order by t1.id
    </select>
    <select id="selectAllNew" resultMap="channelInfo">
        select
        <include refid="Second_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        from t_channel t1
        left join
        (select
        parentid
        ,source
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        order by t1.id,t2.sort
    </select>
    <select id="selectWithoutSource" resultMap="channelInfoNew">
        select
        <include refid="third_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        from t_channel t1
        left join
        (select
        parentid
        ,id as sourceId
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        order by t1.id,t2.sort
    </select>
    <select id="selectChannelByChannel" parameterType="java.lang.String" resultMap="channelInfo">
        select
        <include refid="Second_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        from t_channel t1
        left join
        (select
        parentid
        ,source
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        where channel = #{channel}
        order by t1.id
    </select>
    <select id="selectChannelById" parameterType="java.lang.Integer" resultType="com.readyidu.model.Channel">
        select
        <include refid="Second_Column_List"></include>
        from t_channel t1
        left join
        (select
        parentid
        ,group_concat(source order by sort) as source
        from t_channel_source
        where is_delete != 1
        group by parentid
        ) t2
        on t1.id=t2.parentid
        where id = #{id}
        order by t1.id
    </select>
    <select id="selectBySource" resultType="com.readyidu.model.Channel" parameterType="java.lang.String">
        select
        <include refid="Second_Column_List"></include>
        from t_channel t1
        right join
        (select
        parentid
        ,source as source
        from t_channel_source
        where source=#{source}
        ) t2
        on t1.id=t2.parentid
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        t1.id as id
        ,t1.channel as channel
        ,t1.typeid as typeid
        from t_channel t1
        where t1.id =#{id}
        order by t1.id
    </select>
    <select id="selectCCTV" resultType="java.lang.String">
        select
        channel
        from t_channel
        where id&lt;17
    </select>
    <select id="selectSatellite" resultType="java.lang.String">
        SELECT
        distinct  t1.channel as channel
        FROM
        t_channel t1,
        (SELECT parentid FROM t_channel_source  WHERE is_delete!=1) t2
        WHERE
        t1.id = t2.parentid
        AND t1.id&lt;65
        AND t1.id&gt;25
    </select>
    <select id="selectUrlByChannel" parameterType="java.lang.String" resultType="java.util.Map">
        select
        t1.id as id,t1.source as source,t2.channel as channel
        from
        t_channel_source t1, t_channel t2
        where
        t1.parentid = t2.id
        AND
        t2.channel = #{TvName,jdbcType=VARCHAR}
        AND
        t1.is_delete!=1
    </select>
    <select id="selectUrlByClassName" parameterType="java.lang.String" resultType="java.util.Map">
        select
        t1.id as id,t1.source as source,t2.channel as channel
        from
        t_channel_source t1,t_channel t2
        where
        t1.is_class = (select id from t_channel_class where className = #{TvName,jdbcType=VARCHAR})
        AND
        t1.parentid = t2.id
        AND
        t1.is_delete!=1
    </select>
    <select id="selectUrlByChannelName" parameterType="java.lang.String" resultType="java.util.Map">
        select
        t1.id as id,t1.source as source,t2.channel as channel
        from
        t_channel_source t1,t_channel t2
        where
        t2.channel like #{search,jdbcType=VARCHAR}
        AND
        t1.parentid = t2.id
        AND
        t1.is_delete!=1
        ORDER BY t2.id
    </select>
     <select id="selectAllChannel" resultType="java.util.Map">
     SELECT
     t1.id as id,t1.channel as channel, COUNT(t2.parentid) as count
     FROM
     t_channel t1,t_channel_source t2
     WHERE
     t1.id =t2.parentid
     GROUP BY
     t1.id
     </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_channel
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.readyidu.model.Channel">
        insert into t_channel (id, channel, source,
        typeid)
        values (#{id,jdbcType=INTEGER}, #{channel,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
        #{typeid,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.readyidu.model.Channel">
        insert into t_channel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="typeid != null">
                typeid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                #{typeid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.readyidu.model.Channel">
        update t_channel
        <set>
            <if test="channel != null">
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="typeid != null">
                typeid = #{typeid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.readyidu.model.Channel">
        update t_channel
        set channel = #{channel,jdbcType=VARCHAR},
        source = #{source,jdbcType=VARCHAR},
        typeid = #{typeid,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectHotChannel" resultMap="channelInfo">
        select
        <include refid="Second_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        from t_channel t1
        left join
        (select
        parentid
        ,source
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        right join
        (select
        channelId,
        sort
        from t_channel_hot
        ) t3
        on t1.id = t3.channelId
        order by t3.sort,t2.sort
    </select>
    <select id="selectChannelByKey" parameterType="java.lang.String" resultMap="channelInfo">
        select
        <include refid="Second_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        ,t3.`key`
        ,t3.`value`
        from t_channel t1
        left join
        (select
        parentid
        ,source
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        right join
        (select
        `value`
        ,`key`
        from t_channel_mapping
        where `key` like CONCAT(CONCAT('%',#{key}), '%')
        group by `value`
        ) t3
        on t1.channel = t3.value
        where t1.channel is not null
        order by t1.id
    </select>
    <select id="selectChannelByTypeId" parameterType="com.readyidu.model.NewChannelType" resultType="java.lang.Integer">
        select
        id
        from t_channel
        where
        <if test="appTypeId == null">
            category = #{category}
        </if>
        <if test="appTypeId != null">
            appTypeId = #{appTypeId}
            and category != #{category}
        </if>
        order by sort
    </select>
    <select id="selectAppChannelByKey" parameterType="java.lang.String" resultType="com.readyidu.model.NewChannel">
        select
        t1.id as i
        ,t1.channel as c
        ,t1.appTypeId as t
        from t_channel t1
        right join
        (select
        `value`
        ,`key`
        from t_channel_mapping
        where `key` like CONCAT(CONCAT('%',#{key}), '%')
        group by `value`
        ) t3
        on t1.channel = t3.value
        where t1.channel is not null
        order by t1.id
    </select>
    <select id="selectNewChannelById" parameterType="java.lang.Integer" resultMap="newChannel">
        SELECT
        t1.id AS i,
        t1.channel AS c,
        t2.resolution AS r,
        t2.response AS m,
        t2.is_self AS f,
        t2.id AS s,
        t3.categoryType as g
        FROM
        t_channel t1
        LEFT JOIN (
        SELECT
        resolution,
        response,
        is_self,
        id,
        parentid,
        sort
        FROM
        t_channel_source
        WHERE
        is_delete != 1
        ) t2 ON t1.id = t2.parentid
        LEFT JOIN(
        SELECT
        id,
        categoryType
        FROM
        t_category_type
        ) t3 ON t1.category = t3.id
        WHERE
        t1.id = #{id} AND t2.id is not null
        ORDER BY
        t1.sort,
        t2.sort
    </select>
    <select id="selectChannelIdByKey" parameterType="java.lang.String" resultType="java.lang.String">
        select
        channel
        from t_channel t1
        right join
        (select
        `value`
        ,`key`
        from t_channel_mapping
        where `key` like CONCAT(CONCAT('%',#{key}), '%')
        group by `value`
        ) t3
        on t1.channel = t3.value
        where t1.channel is not null
        order by t1.id
    </select>
    <select id="selectChannelByChannelName" parameterType="java.lang.String" resultMap="channelInfo">
        select
        <include refid="Second_Column_List"></include>
        ,t2.resolve as resolve
        ,t2.responseTime as responseTime
        ,t2.isSelf
        from t_channel t1
        left join
        (select
        parentid
        ,source
        ,source_px as resolve
        ,response_time as responseTime
        ,is_self as isSelf
        ,sort
        from t_channel_source
        where is_delete != 1
        ) t2
        on t1.id=t2.parentid
        where t1.channel = #{channelName}
        order by t1.sort
    </select>
</mapper>