<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readyidu.mapper.ConfInfoMapper" >
    <select id="selectChannelInfo" resultType="com.readyidu.model.ConfInfo" parameterType="java.lang.String">
        select
        confName,
        version,
        confUrl,
        hash
        from
        t_service_conf
        where version = #{version} and confName="channelInfo"
    </select>
    <update id="updateConfinfo" parameterType="com.readyidu.model.ConfInfo">
        update t_service_conf
        <set>
            confUrl = "http://p15mjwx7g.bkt.clouddn.com/"+#{hash,jdbcType=VARCHAR},
            hash = #{hash,jdbcType=VARCHAR},
        </set>
        where version = #{version,jdbcType=VARCHAR}
    </update>
    <select id="selectByAcount" resultType="com.readyidu.model.ConfInfo" parameterType="java.lang.String">
        SELECT * FROM t_phone_service WHERE acount = #{acount}
    </select>
    <insert id="insertConf" parameterType="com.readyidu.model.ConfInfo">
        INSERT INTO t_phone_service(confUrl,version,hash,acount,create_time) VALUES (#{confUrl},#{version},#{hash},#{acount},now())
    </insert>
    <update id="updateConfinfoByAcount" parameterType="com.readyidu.model.ConfInfo">
        UPDATE t_phone_service SET confUrl=#{confUrl},version=#{version},hash=#{hash},modify_time=now() WHERE acount=#{acount}
    </update>
</mapper>