<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.readyidu.mapper.PlayBillInfoMapper">
    <insert id="insertBillInfo" parameterType="com.readyidu.model.PlayBillInfo">
        insert into
        t_billfrom_info(
        `date`,
        playontime,
        showname,
        channelId,
        lunboId)
        value(#{date},#{playontime},#{showname},#{channelId},#{lunboId})
    </insert>
    <delete id="cleanBillInfo" parameterType="java.lang.Integer">
        delete
        from
        t_billfrom_info
        where channelId = #{channelId}
    </delete>
    <select id="selectBill" parameterType="com.readyidu.model.PlayBillInfo" resultType="com.readyidu.model.PlayBillInfo">
        select
        playontime,
        showname
        from
        t_billfrom_info
        where
        `date` = #{date} and channelId = #{channelId}
    </select>
    <select id="selectBillProgram" parameterType="com.readyidu.model.Program" resultType="com.readyidu.model.Program">
        select
        playontime as showTime,
        showname as channelName
        from
        t_billfrom_info
        where
        `date` = #{date} and channelId = #{channelId}
    </select>
    <select id="selectBillProgramByChannelId" parameterType="java.lang.Integer" resultType="com.readyidu.model.PlayBillInfo">
        select
        t1.playontime,
        t1.showname,
        t1.date,
        t2.isFengmi,
        t2.fengmiId,
        t2.orderIndex
        from
        t_billfrom_info t1
        left join
        (select
        '1' as isFengmi,
        lunboId,
        fengmiId,
        orderIndex
        from t_fengmi_lunbo
        where is_delete != 1
        ) t2
        on t1.lunboId=t2.lunboId
        where
        channelId = #{channelId}
    </select>
</mapper>